#!/usr/bin/env python

import socket
import sys

try:
    import ConfigParser
except ImportError:
    import configparser as ConfigParser


config = ConfigParser.ConfigParser()
config.read(['../dot3k.cfg', 'dot3k.cfg'])

command = None
host = '127.0.0.1'
port = 9393

commands = ['play', 'pause', 'stop']

if len(sys.argv) > 1:
    command = sys.argv[1]

if len(sys.argv) > 2:
    host = sys.argv[2]

if len(sys.argv) > 3:
    port = int(sys.argv[3])

if not command in commands:
    exit('Command not supported\nTry: ' + ', '.join(commands))

if command is not None:
    print('Sending: ' + command)
    try:
        sck = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
        sck.connect((host, port))
        sck.send(command + '\n')
    except socket.error:
        sys.exit('Unable to connect to server: ' + host + ':' + str(port))
